@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
    --primary-color: #1e324e;
    --secondary-color: #fab81e;
    --bg-color-main: #5bc0de;
    --bg-color-light: aliceblue;
    --bg-color-dark: #323232;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    color: var(--bg-color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
    color: var(--bg-color-dark);
}

h4 {
    color: var(--bg-color-dark);
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 0;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

a {
    color: var(--bg-color-dark);
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 500;
}

p {
    color: var(--bg-color-dark);
}

img {
    width: 100%;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.bg-cover {
    background-position: center !important;
    background-size: cover;
}

.intro {
    margin-bottom: 40px;
}

th {
    background-color: var(--bg-color-main) !important;
    vertical-align: middle;
    font-size: 16px;
    color: #f3f5ff !important;
}

/* .intro h6 {
  font-weight: 400;
  color: var(--bg-color-main);
} */
.intro p {
    max-width: 500px;
    margin: auto;
}

.bw {
    filter: grayscale(85%);
}

/*Top Nav*/

.top-nav {
    background-color: var(--primary-color);
    padding-top: 3px;
    padding-bottom: 3px;
}

.top-nav p {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 16px;
    color: var(--bg-color-light);
    font-size: 14px;
}

.top-nav i,
.top-nav span {
    vertical-align: middle;
}

.speed-dial a,
img {
    vertical-align: middle;
}
.speed-dial img {
    width: auto;
    height: 34px;
}

.speed-dial a {
    width: auto;
    height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.lang-translate {
    margin: auto;
    padding: 2px 2px;
    width: 60px;
    height: 30px;
    color: var(--primary-color);
    font-size: 14px;
    background-color: var(--bg-color-light);
    border-radius: 5px;
}

.lang-translate:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-weight: 700;
}

/*Main Nav*/

.navbar {
    box-shadow: 0px 6px 24px rgba(14, 14, 15, 0.1);
    font-weight: 500;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--bg-color-main);
}

/*Button*/

.btn {
    font-weight: 500;
}

.btn-brand {
    padding: 9px 24px;
    background-color: var(--bg-color-main);
    color: var(--bg-color-light);
    border-color: var(--bg-color-main);
}

.btn-brand:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/*Slider*/

.slider-wrapper {
    min-height: 580px;
}

#video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

video {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.container {
    position: relative;
    z-index: 1; /* Adjust the z-index to be on top of the overlay */
}

.col-12 {
    position: relative;
    z-index: 1; /* Adjust the z-index to be on top of the overlay */
}

.slider-wrapper h1 {
    color: var(--bg-color-main);
    text-shadow: 2px 2px 5px rgb(196, 255, 246, 0.5);
}

.custom-letter-spacing {
    letter-spacing: 8px;
    color: var(--secondary-color);
}

/*Info Box*/

.info-box {
    display: flex;
    align-items: center;
}
#about-image {
    max-width: 100%;
    margin-right: 280px;
}

.overlay-text {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: var(--secondary-color); /* Adjust color and opacity as needed */
    padding: 10px;
    text-align: center;
}

/*Owl Carousel*/

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    width: 50px !important;
    height: 50px !important;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.2) !important;
    margin-top: -30px !important;
    color: #ffffff;
    font-weight: 700 !important;
    font-size: 20px !important;
    border-radius: 100px !important;
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.owl-prev:hover,
.owl-next:hover {
    background-color: var(--secondary-color) !important;
}

/*Services*/
#services {
    background-color: var(--bg-color-light);
    box-shadow: 0px 6px 20px rgba(0, 0, 5, 0.3);
}

/* #services .display-4 {
  font-weight: 700;
} */

.service-box {
    padding: 32px;
    background-color: var(--bg-color-main);
    box-shadow: 0px 6px 20px rgba(0, 0, 5, 0.3);
    text-align: center;
}

.service-box img {
    width: 100px;
}

.service-box h5 {
    color: var(--primary-color);
    margin-top: 24px;
    margin-bottom: 12px;
}
.service-box p {
    color: var(--bg-color-light);
    font-weight: 500;
}

/*Custom SLider*/

#custom-slider .owl-prev,
#custom-slider .owl-next {
    background-color: #5adfee46 !important;
    color: #fab81e;
}

#custom-slider .owl-prev:hover,
#custom-slider .owl-next:hover {
    background-color: var(--secondary-color) !important;
    color: var(--bg-color-light);
}

.custom {
    position: relative;
}
.custom .overlay {
    background: linear-gradient(
        to bottom,
        rgba(9, 32, 50, 0.2),
        rgba(0, 0, 5, 0.825)
    );
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
}

.custom .content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 32px;
}

.custom h1,
.custom h6 {
    color: #ffffff;
}

.custom h6 {
    font-size: 14px;
}

.custom h6::before {
    content: "";
    height: 2px;
    width: 24px;
    background-color: var(--secondary-color);
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}

/*table-sidebar*/

.nav-link span {
    transition: transform 0.3s ease-in-out;
    display: inline-block;
}

.nav-link:hover span {
    transform: translateX(7px);
}

.sidebar-sticky .nav-link {
    color: var(--bg-color-dark);
    font-weight: 500;
    background-color: #69abe472;
    margin-bottom: 10px;
    padding: 20px;
}

.sidebar-sticky .nav-link:hover {
    color: var(--bg-color-light);
    font-weight: 600;
    background-color: var(--secondary-color);
}

.sidebar .nav-link.active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 600;
    text-shadow: 2px 2px 5px rgb(196, 255, 246, 0.5);
}

.table-action.btn {
    background-color: var(--secondary-color);
    font-size: small;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 4px;
    margin-left: 4px;
}

.table-action i {
    font-size: 20px;
}

.table-action.btn:hover {
    background-color: #e3a106;
    color: #ffffff;
    font-weight: 700;
}

td:nth-child(5),
th:nth-child(5) {
    text-align: center;
}

th:nth-child(2),
td:nth-child(2) {
    width: 45%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 25%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 15%;
}

th:nth-child(1),
td:nth-child(1),
th:nth-child(5),
td:nth-child(5) {
    width: 15%;
}

/* .custom-table {
  width: 100%;
}

.custom-table td {
  background-color: #ffffff;
  padding: 40px;
}

.custom-table tr {
  border-collapse: separate;
  border: #03729b 2px solid;
} */

.custom-table {
    width: 100%;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: left;
}

.custom-table tr {
    border: var(--bg-color-dark) 2px solid;
}

.custom-table td {
    background-color: #f1f4f5;
    padding: 15px;
}

.custom-table td:nth-child(2) {
    width: 50%;
}

.custom-table td:nth-child(1) {
    width: 25%;
}

.custom-table td:nth-child(3) {
    width: 25%;
    text-align: right;
}

.custom-table a {
    font-size: 32px;
    font-weight: bolder;
    color: rgb(158, 14, 14);
}

.purchase-btn-next {
    width: 40%;
    background-color: red;
    margin-right: 50px;
}
